{% extends "base.html" %}
{% block content %}
<div class="container text-centered">

  <div class="row">
    <div class="jumbotron col-md-12">
      <h1>Domains</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">Count: {{domains|count}}</div>
      <table class="table table-striped table-bordered" data-toggle="table">
        <thead>
          <tr>
            <th data-field="domain" data-sortable="true">Domain</th>
            <th data-field="createdate" data-sortable="true">Create Date</th>
            <th data-field="crawldate" data-sortable="true">Crawl Date</th>
            <th data-field="url" data-sortable="true">Ads.txt Link</th>
            <th data-field="records" data-sortable="true">Record Count</th>
            <th>View Records</th></tr>
        </thead>
        <tbody>
            {% for item in domains %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.createdate}}</td>
              <td>{{item.crawldate}}</td>
              <td><a href="{{item.url}}" target="_default">{{item.url}}</a></td>
              <td>{{item.count}}</td>
              <td><a href="{{servlet-context}}/records/{{item.id}}">-></a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <a class="pull-right" href="{{servlet-context}}/download/domains/{{download-url}}">Download</a>
    </div>
  </div>
  
  <div  style="padding-top: 20px;">
    <!-- todo: fix sortable table which removed the required padding -->
  </div>
      

</div>
  
{% endblock %}
