{% extends "base.html" %}
{% block content %}
<div class="container text-centered">
  <div class="row">
    <div class="jumbotron col-md-12">
      <h1>Ads-txt</h1>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <p>This site lets you check a domain for a valid Ads.txt file. When submitted, a domain is crawled for it's Ads.txt file and if found the file's content presented after parsing.</p>
    </div>
  </div>

  <div class="row spacer">
    <div class="col-md-12">
        <form method="POST" action="/">
                {% csrf-field %}
                <p>
                    <input class="form-control"
                           type="text"
                           name="name"
                           value="{{name}}" />
                </p>
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                {% if errors.message %}
                <div class="alert alert-danger">{{errors.message|join}}</div>
                {% endif %}
                {% if message %}
                <div class="alert alert-danger">{{message}}</div>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Check Domain" />
        </form>
    </div>
  </div>

  <div class="row spacer">
    <div class="col-md-12">
      <div class="pull-left">Domain:  <a href="{{servlet-context}}/records/{{id}}">{{domain-name}}</a></div>
      <div class="pull-right">Count: {{records|count}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered"  data-toggle="table">
        <thead>
          <tr><th data-field="order-id" data-sortable="true">Number</th><th data-field="domain" data-sortable="true">Domain</th><th data-field="exchange" data-sortable="true">Exchange Domain</th>
          <th data-field="seller" data-sortable="true">Seller Account Id</th><th data-field="type" data-sortable="true">Account Type</th><th data-field="tag" data-sortable="true">Tag Id</th></tr>
        </thead>
        <tbody>
        {% for item in records %}
        <tr>
          <td>{{item.order_id}}</td>
          <td>
            {% if domain-name %}
            {{item.name}}
            {% else %}
            <a href="{{servlet-context}}/records?id={{item.domain_id}}">{{item.name}}</a>
            {% endif %}
            </td><td>{{item.exchange_domain}}</td><td>{{item.seller_account_id}}</td><td>{{item.account_type}}</td><td>{{item.tag_id}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if url %}
      <a class="pull-left" href="{{url}}" target="_default">Ads.txt Link</a>
      {% endif %}
      {% if id %}
      <a class="pull-right" href="{{servlet-context}}/download/records/{{id}}">Download Results</a>
      {% endif %}
    </div>
  </div>
  
  <div class="row spacer">
    <div class="col-md-12">
      <p><a href="{{servlet-context}}/domains">View Domains ({{ domains-count.count }})</a></p>
    </div>
  </div>
  
  <div class="row spacer">
    <div class="col-md-12">
      <h4>Note</h4>
      <p>This site is for demonstration purposes and should be considered a proof of concept. Additionally, the data may at anytime be removed during upgrades or as the site evolves. For more details about this site's development visit the <a href="{{servlet-context}}/about">about</a> page. Suggestions are certainly welcome.
      </p>
    </div>
  </div>
  
</div>
  
{% endblock %}
