{% extends "base.html" %}
{% block content %}
<div class="container text-centered">
  <div class="row">
    <div class="jumbotron col-md-12">
      <h1>Ads.txt</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          <a href="{{servlet-context}}/domains"
             class="nav-link{% ifequal page "domains.html" %} active{%endifequal%}">
            Domains ({{ domains-count.count }})
          </a>
        </li>
        <li>
          <a href="{{servlet-context}}/records"
             class="nav-link{% ifequal page "records.html" %} active{%endifequal%}">
            Records ({{ records-count.count }})
          </a>
        </li>
    </div>
  </div>
  
</div>
  
{% endblock %}
