{% extends "base.html" %}
{% block content %}
<div class="container text-centered">
  <div class="row">
    <div class="jumbotron col-md-12">
      <h1>Ads.txt</h1>
    </div>
  </div>


  <div class="row spacer">
    <div class="col-md-12">
      <h2>Links</h2>
      
      <ul>
        <li>
          <a href="{{servlet-context}}/domains"
             class="nav-link{% ifequal page "domains.html" %} active{%endifequal%}">
            Domains ({{ domains-count.count }})
          </a>
        </li>
        <li>
          <a href="{{servlet-context}}/records"
             class="nav-link{% ifequal page "records.html" %} active{%endifequal%}">
            Records ({{ records-count.count }})
          </a>
        </li>
    </div>
  </div>

  
  <div class="row spacer">
    <div class="col-md-12">
      <h3>Details</h3>
      
      <p>This site contains the results of crawling domains for Ads.txt files. The  <a href="{{servlet-context}}/domains">domains</a> page allows you to add a domain to be crawled and it's results stored in the system. The <a href="{{servlet-context}}/records">records</a> page when accessed from the main page will show the entire set of records in the system. If you would like to see records for a specific domain you can do so by accessing the records page from links associated with the desired domain listed on the domains page. For those who want to keep their results you make download domains and records from each of their respective pages by clicking on the download link at the bottom of the page.
      </p>

      <p>This site is for demonstration purposes and should be considered a proof of concept. Additionally, the data may at anytime be removed during upgrades or as the site evolves. For more details about this site's development visit the <a href="{{servlet-context}}/about">about</a> page. Suggestions are certainly welcome.
        </p>
    </div>
  </div>

  
  
</div>
  
{% endblock %}
